aside {
  display: block;
}

html,
body {
  font-family: 'Oswald', sans-serif;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  margin: 0;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.header_overlay {
  position: fixed;
  width: 100%;
  top: 0px;
  background-color: black;
}

.head_body {
  font-size: 22px;
  max-width: 1024px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 10px;
  margin: 0 auto;
}

.head_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.head_menu div {
  margin-left: 10px;
  color: #ffffff;
}

.logo {
  color: #ffffff;
}

.logo span {
  color: red;
}

.body_content {
  height: 100%;
  max-width: 1024px;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0 auto;
}

.slider {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  background-color: #aaa;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
  opacity: 0;
  -webkit-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.modal_body {
  -webkit-transform: translateY(-300px);
  -ms-transform: translateY(-300px);
  transform: translateY(-300px);
  z-index: -1;
  opacity: 0;
  -webkit-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
  position: relative;
  margin: 100px auto;
  width: 75%;
}

.modal_body img {
  width: 100%;
  display: block;
}

.button_overlay_back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100%;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.button_overlay_back:hover {
  background: rgba(0, 0, 0, 0.5);
}

.button_overlay_next {
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  height: 100%;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.button_overlay_next:hover {
  background: rgba(0, 0, 0, 0.4);
  -webkit-transition: background 0.3s;
  -o-transition: background 0.3s;
  transition: background 0.3s;
}

.modal.open .overlay {
  z-index: 1000;
  opacity: 1;
  -webkit-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.modal.open .modal_body {
  -webkit-box-shadow: 1px 1px 20px 1px #000;
  box-shadow: 1px 1px 20px 1px #000;
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  z-index: 1000;
  opacity: 1;
}

.modal.close .overlay {
  z-index: -1;
  opacity: 0;
  -webkit-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.modal.close .modal_body {
  -webkit-transform: translateY(-300px);
  -ms-transform: translateY(-300px);
  transform: translateY(-300px);
  z-index: -1;
  opacity: 0;
}

.img_content {
  padding: 10px;
  padding-top: 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.img_content img {
  width: 100%;
}

.imgContainer {
  max-width: 300px;
  padding: 5px;
  margin: auto;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.imgContainer:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.imgContainer img {
  max-height: 100%;
}
